
.forgetPassword{
  .btn-getMsgCode{
    color: #fb343e;
    width: 248px;
    text-align: right;
  }
  .validCode {
    width: 1.55rem;
    height: 0.56rem;
    display: inline-block;
    margin-top: 0.17rem;
  }
}
