.resetPaymentPasswordOk{
        .icon{
            width: 215px;
            height: 215px;
            margin:100px auto 50px;
            img{
                width: 100%;
            }
        }
        .text{
            font-size:34px;
            text-align: center;
        }
        .btn{
            width: 30%;
            line-height: 50px;
            height: 50px;
            margin: 150px auto;
        }
}