//说明
.explain-wrap{
    padding: 46px 30px 46px 34px;
    .explain-item{
        font-size: 26px;
        line-height: 48px;
        padding-bottom: 50px;
        dt{
            font-weight: 600;
        }
    }
}
