
.setPhone{
  background: #fff;
    .btn_mgtop{
        margin-top:50px;
    }
}
.setPhone{
  .inputItem .code{
      width: 70%;
    }
  .getCode{
    font-size:28px;
    color:#fb343e;
  }

  .validCode{
    width: 155px;
    height: 56px;
    display: inline-block;
    margin-top: 17px;
  }

  .pR30{
    padding-right: 30px;
  }

  .btn-getMsgCode{
    color: #fb343e;
    width: 208px;
  }
  .vertical-line{
    margin: 0px 38px;
  }
}
    