
/* 清除浮动 */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  height: 0;
  display: block;
  clear: both;
  visibility: hidden;
  overflow: hidden;
}
.clearfix {
  *zoom: 1; /*IE/7/6*/
}
/*公共类*/
.fl{
  float: left;
}
.fr{
  float: right;
}
.hide{
  display: none;
}
.wrap{
  width: 7.5rem;
  margin: 0 auto;
}


/*弹性盒子 start*/
.flex-father{
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: -ms-box;


  .flex-child1{
    -webkit-box-flex: 1;
  }
}
/*弹性盒子 end*/

/*居中 start*/
.translateCenter{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
/*居中 end*/


.pt10{
  padding-top: 10px;
}
.pt23{
  padding-top: 23px;
}


.ft40{
  font-size: 40px;
}



















