//我的赠品
.gift-wrap{
    .g-product-list{
        .g-text{
            padding-right: 0px;
            h3{
                width: 400px;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }

    }
}
