.resetPaymentPassword_2{
  padding:40px;
    .passwordTop{
        li{
          float:left;
        }
        ul:after{
          content: '';
          display: block;
          clear:both;
          visibility:hidden;
        }
        .iconState{
            padding: 0 5%;
            .liInit{
              width: 70px;
              height: 70px;
              line-height: 70px;
              text-align: center;
              border-radius: 50%;
              background: #f0f0f0;
              border: 2px solid #ccc;
              margin: 0 auto;
            }
            .curenter{
                background: #ff555d;
                border: 2px solid #ff555d;
                color:#fff;
            }
            .numState{
                
                li:nth-child(2n+1){
                    width: 13%;
                }
                li:nth-child(2n){
                    width: 13%;
                    border-bottom: 2px solid #ccc;
                    margin:34px 1%;
                }
            }
            
        }
        .textState{
          padding: 0 5%;
          text-align: center;
          font-size: 26px;
          line-height: 70px;
          li:nth-child(2n){
             // width: 12%;
             margin-left: 8%;
          }
          li:nth-child(3){
              //width: 32%;
              //margin:35px 0;
               margin-left: 5%;
          }
          
        }
        .reset{
          font-size: 26px;
            li:last-child{
             // margin-left:22%;
            }
        }
    }
    .passwordBottom_2{
        h4{
          font-size: 30px;
          text-align: center;
          margin:80px 0 70px 0;
        }

    }
}
//6个密码输入框

    
    .passwordBottom_2{
          .err{
            //padding:10px 20px;
            line-height: 50px;
            height: 50px;
            width: 300px;
            text-align: center;
            background:#4f4f4f;
            color:#fff;
            font-size: 26px;
            margin: 50px auto;
            border-radius: 10px;
          }
          .nextBtn{
                width: 30%;
                line-height: 50px;
                height: 50px;
                margin: 50px auto;
          }
    }